html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.baseMap {
    width: 100%;
    height: 100%;
    overflow: hidden;

}

.richmark {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    background: #ffffff;
    color: #000;

}